<header class="header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-3">
        <div class="contact-info">
          <p><i class="fa fa-envelope-o fa-lg"></i>{{site.author.email}}</p>
          <p><i class="fa fa-github fa-lg"></i><a href="//github.com/{{site.author.github}}" target="_blank">{{site.author.github}}</a></p>
          <p><i class="fa fa-linkedin-square fa-lg"></i><a href="//linkedin.com/in/{{site.author.linkedin}}" target="_blank">{{site.author.linkedin}}</a></p>
          <p><i class="fa fa-twitter fa-lg"></i> <a href="//twitter.com/{{ site.author.twitter }}" target="_blank">{{ site.author.twitter }} </a></p>
        </div>
      </div>
      <div class="col-md-6 center">
        <img src="{{ site.favicon | prehend:site.baseurl }}" title="Avator" alt="My Avator">
        <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      </div>
      <div class="col-md-3 right">
        <a href="#" class="btn btn-dark"><i class="fa fa-file-pdf-o"></i>Download pdf</a>
      </div>
    </div>

  </header>
